
{% include "/header.html" %}
{% include "/nav.html" %}

<div class="container">
    <div class="row" style="margin-top: 80px;">

        <ul class="breadcrumb">
            <li><a href="/dashboard">主页</a></li>
            <li class="active">分类</li>
        </ul>

        <div>
            <hr />
            <h4><strong>全部分类</strong></h4>
            <table id="table" style="margin-top: 20px;"></table>
        </div>
    </div>
</div>


{% include "/scripts.html" %}
<script>
    function initTableData() {
        $('#table').bootstrapTable('destroy');
        $('#table').bootstrapTable({
            url: '/static/data.json',
            method: 'get',
            striped: true,
            cache: false,
            pagination: true,
            sortable: false,
            queryParams: function (params) {
                var param = {
                    limit: params.limit,
                    offset: params.offset
                };
                // if ($("#query").val().trim() !== "") {
                //     param['query'] = $("#query").val().trim()
                // }
                return param;
            },
            sidePagination: "server",
            pageNumber:1,
            pageSize: 10,
            pageList: [10, 25, 50, 100],
            uniqueId: "id",
            columns: [{
                field: 'id',
                title: '主键'
            }, {
                field: 'name',
                title: '名称',
                editable: {mode: 'popup'}
            }, {
                field: '操作',
                title: '操作',
                formatter : function (value, row, index) {
                    return '<div class="btn-group btn-group"><button class="btn btn-warning">查看</button><button class="btn btn-warning">删除</button></div>'
                }
            }]
        });
    }
    $(function (){
        initTableData();
    });
</script>
</body>
</html>