
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>化工大数据</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootswatch/3.4.0/united/bootstrap.min.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/dashboard.png" />
    <link rel="bookmark" href="/dashboard.png" />
    <style>
        html {
            font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;;
        }
        .navbar-brand {
            font-size: 14px;
        }
    </style>
</head>
<body>