
<div class="navbar navbar-default navbar-fixed-top" style="">
    <div class="container">
        <div class="navbar-header">
            <a href="/dashboard/" class="navbar-brand ">化工大数据</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/dashboard/literature/">论文</a>
                </li>
                <li>
                    <a href="/dashboard/author/">作者</a>
                </li>
                <li>
                    <a href="/dashboard/organization/">组织</a>
                </li>
                <li>
                    <a href="/dashboard/category/">分类</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">管理员 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a href="/dashboard/admin/">设置</a></li>
                        <li class="divider"></li>
                        <li><a href="/dashboard/admin/quit">退出</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>